@model Sunshine.Business.Core.LFProduct

@{
    ViewBag.Title = "具体意向";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>LFProduct</legend>

   <div class="display-label">
         @Html.DisplayNameFor(model => model.Brand.BrandName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand.BrandName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductMark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductMark)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductAdditions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductAdditions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductNum)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LFProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
