@model IEnumerable<Sunshine.Business.Core.User>

@{
    ViewBag.Title += "用户管理";
}
@Html.Partial("_htmlPaging")
<table style="width:100%;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
				<th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </th>
        <th>操作</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="user-icon user">
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
				<td>
            @Html.DisplayFor(modelItem => item.CreationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
				查看详细
@*            @Html.ActionLink("EditUser", "EditUser", new { id = item.UserId }) |
            @Html.ActionLink("ShowUser", "ShowUser", new { id = item.UserId }) |
            @Html.ActionLink("DelUser", "DelUser", new { id = item.UserId })*@
        </td>
    </tr>
}
</table>
@Html.Partial("_htmlPaging")