@model Sunshine.Business.Core.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_search.cshtml";
}
<fieldset>
    <legend>Product</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductMark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductMark)
    </div>

     <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductAdditions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductAdditions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductDescription)
    </div>
    <div class="display-field">
        @Html.DisplayTextFor(model => model.ProductDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryMain.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryMain.CategoryName)
    </div>
</fieldset>
