@model Sunshine.Business.Core.User

@{
    Layout = "";
    
}

@if (Model.CompanyModifyStatus == Sunshine.Business.Core.ModifyStatus.None)
{ 
<p>
    <a href="javascript:addNewCompany()">添加一个公司</a> or
    <a href="javascript:chooseCompany()">选择一个公司</a>
</p>
    ViewBag.display = "display:none";
}

<p id="message" class="message"></p>
@using (Ajax.BeginForm("EditCompany", "Account", new AjaxOptions { OnSuccess = "editcmpymsg" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true) 
        <fieldset id="NewCompany" style="@ViewBag.display">
        <legend></legend>
    @Html.HiddenFor(model => model.Company.CompanyId)
    <div class="editor-label">
        @Html.LabelFor(model => model.Company.CompanyName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company.CompanyName)
        @Html.ValidationMessageFor(model => model.Company.CompanyName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Company.Mobile)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company.Mobile)
        @Html.ValidationMessageFor(model => model.Company.Mobile)
    </div>
        <div class="editor-label">
        @Html.LabelFor(model => model.Company.TelNumber)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company.TelNumber)
        @Html.ValidationMessageFor(model => model.Company.TelNumber)
    </div>
        <div class="editor-label">
        @Html.LabelFor(model => model.Company.Address)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company.Address)
        @Html.ValidationMessageFor(model => model.Company.Address)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Company.Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company.Description)
        @Html.ValidationMessageFor(model => model.Company.Description)
    </div>
            @if (Model.CompanyModifyStatus == Sunshine.Business.Core.ModifyStatus.None || Model.CompanyModifyStatus == Sunshine.Business.Core.ModifyStatus.Allowed)
            {
     <p>
            <input type="submit" value="保存" />
     </p>  } 
     </fieldset>
}
<div id="dialoghold" style="display:none"></div>
<script>
    function addNewCompany()
    {
        $("#NewCompany").show();
        return false;
    }

    function chooseCompany() {       
        $.get("/widget/company", '', function (a) {
            $("#dialoghold").html(a);
            $("#dialoghold").dialog();
        }, "html");
        return false;
    }

    function Choosed(item, data)
    {
        var cd = data;
       
        $("#NewCompany").children(".editor-field").children("input").attr("disabled","disabled");
        $("#Company_CompanyId").val(cd.CompanyId);
        $("#Company_CompanyName").val(cd.CompanyName);
        $("#NewCompany").show();
        $("#dialoghold").dialog("close");
        return false;
    }

    function editcmpymsg(a, b, c) {
        $("#message").html(a.message);
     }
</script>