@model Sunshine.Business.Core.User

@{
    Layout = "";
    
}
<p id="message" class=""></p>
@if (Model.CompanyModifyStatus == Sunshine.Business.Core.ModifyStatus.None)
{ 
<div id="company-option">
<p>
<a href="javascript:addNewCompany()">创建一个公司</a> 
<span>或者</span>
<a href="javascript:joinCompany()">加入一个公司</a></p>
<fieldset id="join-panel" style="display:none"><legend></legend>
<input id="scname" type="search"/> <input type="button" value="查找" onclick="javascript:chooseCompany(scname.value)"/>
<div id="search-reuslt"></div>
</fieldset>
</div>
ViewBag.display = "display:none";
}

<fieldset id="NewCompany" style="@ViewBag.display">
        <legend></legend>
@if (Model.CompanyModifyStatus == Sunshine.Business.Core.ModifyStatus.None || Model.CompanyModifyStatus == Sunshine.Business.Core.ModifyStatus.Allowed)
{
    using (Ajax.BeginForm("EditCompany", "Account", new AjaxOptions { OnSuccess = "editcmpymsg" }))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true) 
        
    @Html.HiddenFor(model => model.Company.CompanyId)
    <div class="editor-label">
        @Html.LabelFor(model => model.Company.CompanyName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company.CompanyName)
        @Html.ValidationMessageFor(model => model.Company.CompanyName)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Company.Mobile)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company.Mobile)
        @Html.ValidationMessageFor(model => model.Company.Mobile)
    </div>
        <div class="editor-label">
        @Html.LabelFor(model => model.Company.TelNumber)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company.TelNumber)
        @Html.ValidationMessageFor(model => model.Company.TelNumber)
    </div>
        <div class="editor-label">
        @Html.LabelFor(model => model.Company.Address)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company.Address)
        @Html.ValidationMessageFor(model => model.Company.Address)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Company.Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company.Description)
        @Html.ValidationMessageFor(model => model.Company.Description)
    </div>
           
     <p>
            <input type="submit" value="保存" />
     </p>  
    
    }
}
else
{
    
    <div class="display-label">
        @Html.LabelFor(model => model.Company.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.CompanyName)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Company.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.Mobile)
    </div>
        <div class="display-label">
        @Html.LabelFor(model => model.Company.TelNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.TelNumber)
    </div>
        <div class="display-label">
        @Html.LabelFor(model => model.Company.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.Address)
    </div>
    
    <div class="display-label">
        @Html.LabelFor(model => model.Company.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company.Description)
    </div>
} </fieldset>
<div id="dialoghold" style="display:none"></div>
<script type="text/javascript">
    function addNewCompany() {
        $("#Company_CompanyId").val('');
        $("#Company_CompanyName").val('');
        $("#join-panel").hide();
        $("#NewCompany div>input").removeAttr("disabled");
        $("#NewCompany").show();
        return false;
    }
    function joinCompany() {
        $("#NewCompany").hide();
        $("#join-panel").show();
    }
    function chooseCompany(name) {
        if (name == "" || name == null || name == undefined)
            return false;
        $.get("/widget/company", {name:name}, function (a) {
            $("#search-reuslt").html(a);
        }, "html");
        return false;
    }

    function Choosed(item, data)
    {
        var Company = data;
        $("#NewCompany input").each(function (index) {
            if (this.name != '') {
                this.value=Company[this.name.replace("Company.", '')];
                if(this.type != 'hidden')
                    this.disabled= "disabled";
            }
        });
        $("#NewCompany").show();
        $("#join-panel").hide();
        alert(cd);
        return false;
    }

    function editcmpymsg(a, b, c) {
        $("#message").html(a.message);
        if (a.status) {
            $("#message").css("message-success");
            $("#company-option").html("");
        }
        else
        { $("#message").css("message-error") }
     }
</script>