@model IEnumerable<Sunshine.Business.Core.User>

@{
    ViewBag.Title = "CompanyUser";
}
@Html.Partial("UserNav")
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationTime)
        </td>
        <td>
            @if (item.CompanyModifyStatus == Sunshine.Business.Core.ModifyStatus.Submitted)
            {
                @Html.ActionLink("批准", "Approve", new { uid=item.UserId, itemname="company" })
            } else  {
                <span>已批准</span>
            }
          @* | @Html.ActionLink("移除", "RemoveCompany", new { uid=item.UserId})*@
        </td>
    </tr>
}

</table>
