@model Sunshine.Models.LoginModel
<section id="loginForm">
<h2>已有账号？ 登陆</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>已有账号？ 登陆</legend>
        <ol>
            <li><div class="display-label">
                @Html.LabelFor(m => m.UserName)</div><div class="display-editor">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)</div>
            </li>
            <li><div class="display-label">
                @Html.LabelFor(m => m.Password)</div>
                <div class="display-editor">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                </div>
            </li>
            <li><div class="display-label">
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </div><div class="display-editor">
                @Html.CheckBoxFor(m => m.RememberMe)
                </div>
            </li>
        </ol>
      <p> <input type="submit" value="登陆" /></p>
    </fieldset>
   
}
</section>
<section id="socialLoginForm">
<h2>没有账号？ 注册</h2>
 <p>
        @Html.ActionLink("注册", "Register") 一个属于你的新帐户
    </p>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
