@model Sunshine.Business.Core.User
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<section id="tabset">
<ul id="">
<li><a href="#info">用户信息</a></li>
<li><a href="#company">公司信息</a></li>
<li><a href="#pwd">修改密码</a></li>
</ul>

<div id="info">
<p class="message">@ViewBag.Message</p>
@Html.Partial("_EditProfile")
</div>
<div id="company">
<p class="message"></p>
 @Html.Partial("_EditCompany")
</div>
<div id="pwd">
<p class="message"></p>
 @{Html.RenderAction("pwd");}
</div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabset").tabs({ ajaxOptions: { cache: true} });
        });

        function showmessage(a, b, c) {
            $(".message").html(a.message);
         }
    </script>
}

