@model Sunshine.Models.LocalPasswordModel
@{
    Layout = "";
}
@using (Ajax.BeginForm("pwd", "Account", new AjaxOptions { OnSuccess = "showmessage" }, new { id = "pwdform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <div class="editor-label">
                @Html.DisplayNameFor(m => m.OldPassword)
                </div>
                <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
          
            <div class="editor-label">
                @Html.DisplayNameFor(m => m.NewPassword)
                </div>
                <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
    
                <div class="editor-label">
                @Html.DisplayNameFor(m => m.ConfirmPassword)
                </div>
                <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
        <p><input type="submit" value="修改密码" /></p>
        
    </fieldset>
}
