@model Sunshine.Models.RegisterModel

<hgroup class="title">
    <h2>注册账号</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li><div class="display-label">
                @Html.LabelFor(m => m.UserName)</div><div class="display-editor">
                @Html.TextBoxFor(m => m.UserName)</div>
            </li>
            <li><div class="display-label">
                @Html.LabelFor(m => m.Password)</div><div class="display-editor">
                @Html.PasswordFor(m => m.Password)</div>
            </li>
            <li><div class="display-label">
                @Html.LabelFor(m => m.ConfirmPassword)</div><div class="display-editor">
                @Html.PasswordFor(m => m.ConfirmPassword)</div>
            </li>
        </ol>
       <p> <input type="submit" value="注册" /></p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
