
@{
	ViewBag.Title = @ViewBag.Name;
}

@section styles {
	@Styles.Render("~/Styles/search/css")
}
<div class="w2 fl">
<p>公司业务员</p>
</div>
<div class="w7 fl">
@{ Html.RenderAction("BusinessDetail", "Company", new {name = ViewBag.Name}); }
	<h2>公司产品报价</h2>
	<div id="loading" class="hide w7">
		loading...
	</div>
	<div id="result">
		@{Html.RenderAction("Goods", "List", new { name = ViewBag.Name, pageSize = 10 });}
	</div>
	@using (Ajax.BeginForm("Goods", new AjaxOptions { UpdateTargetId = "result", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, LoadingElementId = "loading" }))
	{
		<input name='name' id='name' type=hidden value='@ViewBag.Name' />
		<input name='pageIndex' id='pageIndex' type="hidden" />
		<input class="hide" id="pagesubmit" type="submit" />
	}
</div>

<p class="clr"></p>
@section scripts {
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript">
		function loadpage(index) {
			$("#loading").css("height", $("#result").css("height"));
			document.getElementById("pageIndex").value = index;
			$("#pagesubmit").click();
			return false;
		}
</script>
}
