@model IEnumerable<Sunshine.Business.Core.Category>

@{
    ViewBag.Title = "分类管理";
    ViewBag.SubModuleName = "分类管理";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<section id="tabset">
    <ul>
        <li><a href="#cindex">分类管理</a></li>
    </ul>
<div id="cindex">
<p>
    @Html.ActionLink("新建新分类", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
    <td>
            @Html.DisplayFor(modelItem => item.CategoryLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        
        <td>
       
            @Html.ActionLink("编辑", "Edit", new { id=item.CategoryId }) 
             @if(item.CategoryLevel > 0) {
                 @Html.ActionLink("删除", "Delete", new { id=item.CategoryId })
            }
        </td>
    </tr>
}

</table>
</div>
</section>
