@model IEnumerable<Sunshine.Business.Core.Category>

@{
    ViewBag.Title = "分类管理";
    ViewBag.SubModuleName = "分类管理";
}
<style>
.t-0{ padding-left:0px;}
.t-1{ padding-left:20px;}
.t-2{ padding-left:40px;}
div.c  {cursor: pointer;background: url(images/folder.gif) 0 0 no-repeat; padding-left:18px;}
</style>
<div id="cindex" class="treeview">
<p>
    @Html.ActionLink("新建新分类", "Create")
</p>
<table style="width:100%;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.CategoryLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCategoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(a => a.CategoryLevel == 0))
{
    <tr>
        <td class="t-@item.CategoryLevel"><div class=c>
         @Html.DisplayFor(modelItem => item.CategoryName)</div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.ShortDescription)*@
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.CategoryLevel)*@
        </td>
        <td>
           @* @Html.DisplayFor(modelItem => item.ParentCategory.CategoryName)*@
        </td>
        <td>
       @*
            @Html.ActionLink("编辑", "Edit", new { id = item.CategoryId }) 
             @if (item.CategoryLevel > 0)
             {
                 @Html.ActionLink("删除", "Delete", new { id = item.CategoryId })
             }*@
        </td>
    </tr>
             foreach (var l1item in Model.Where(a => a.CategoryLevel == 1 && a.ParentCategoryId == item.CategoryId))
             {
    <tr>
         <td class="t-@l1item.CategoryLevel"><div class="c">
           @Html.DisplayFor(modelItem => l1item.CategoryName)</div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => l1item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => l1item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => l1item.CategoryLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => l1item.ParentCategory.CategoryName)
        </td>
        <td>
       
            @Html.ActionLink("编辑", "Edit", new { id = l1item.CategoryId }) 
             @if (l1item.CategoryLevel > 0)
             {
                 @Html.ActionLink("删除", "Delete", new { id = l1item.CategoryId })
             }
        </td>
    </tr>
             foreach (var l2item in Model.Where(a => a.CategoryLevel == 2 && a.ParentCategoryId == l1item.CategoryId))
             {
    <tr>
         <td class="t-@l2item.CategoryLevel"><div class="c">
          @Html.DisplayFor(modelItem => l2item.CategoryName)</div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => l2item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => l2item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => l2item.CategoryLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => l2item.ParentCategory.CategoryName)
        </td>
        <td>
       
            @Html.ActionLink("编辑", "Edit", new { id = l2item.CategoryId }) 
             @if (l2item.CategoryLevel > 0)
             {
                 @Html.ActionLink("删除", "Delete", new { id = l2item.CategoryId })
             }
        </td>
    </tr>
    
             }
             }
}

</table>
</div>
