@model IEnumerable<Sunshine.Business.Core.LFProductItem>
@{
    ViewBag.Title = "Index";
    Layout = "";
    ViewBag.actionName = "LFProductSearch";
}
<div class="fore1 pagin">
@Html.Partial("pagingPart")
</div>
<table id="prodlist">
<thead>
<tr>
<th>@Html.DisplayNameFor(model => model.ProductMark)</th>
<th>@Html.DisplayNameFor(model => model.Setting)</th>
<th>@Html.DisplayNameFor(model => model.ProductNum)</th>
<th>@Html.DisplayNameFor(model => model.Contact)</th>
<th> </th></tr>
</thead>
<tbody>
@foreach (var item in Model)
{
	<tr>
		<td>@item.ProductMark
	</td><td>@item.Setting 
	</td><td>@item.ProductNum
	</td><td>@item.Contact
	</td><td>@Html.ActionLink("详细", "Details", new { id = item.ProductId }, new { target = "_blank" })
		</td> 
	</tr>
}
</tbody>
<tfoot>
</tfoot>
</table>
<div class="fore2 pagin">
@Html.Partial("pagingPart")  
</div>

