@model Sunshine.Controllers.ProductRelationInfo
@section styles {
@Styles.Render("~/Styles/site")
}
@{

}
<fieldset style=" width:100%">
    <legend>产品明细</legend>

	<table>
	<tr>
	<td>
	
         @Html.DisplayNameFor(model => model.CompanyName)
    
    
        @Html.DisplayFor(model => model.CompanyName)
    
	</td>
	<td>
	
         @Html.DisplayNameFor(model => model.TelNumber)
    
    
        @Html.DisplayFor(model => model.TelNumber)
    
	</td>
	</tr>
	<tr>
	<td>
	
         @Html.DisplayNameFor(model => model.BrandName)
    
    
        @Html.DisplayFor(model => model.BrandName)
    
	</td>
	<td>
		 
         @Html.DisplayNameFor(model => model.ProductMark)
    
    
        @Html.DisplayFor(model => model.ProductMark)
    
	</td>
	</tr>
   
   <tr>
   <td>
   
         @Html.DisplayNameFor(model => model.ProductDescription)
    
    
        @Html.DisplayFor(model => model.ProductDescription)
    
   </td>
   <td>
    
         @Html.DisplayNameFor(model => model.ProductAdditions)
    
    
        @Html.DisplayFor(model => model.ProductAdditions)
    
   </td></tr>
   
   <tr>
   <td>
    
         @Html.DisplayNameFor(model => model.DeliveryPrice)
    
    
        @Html.DisplayFor(model => model.DeliveryPrice)
    
   </td>
   </tr>
    </table>

   

   
</fieldset>