@model Sunshine.Business.Core.PriceInterval

@{
    ViewBag.Title = "PriceIntervalCreate";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<section id="tabset">
    <ul>
        <li><a href="#cindex">新增颜色</a></li>
    </ul>
<div id="cindex">
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Color</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.PriceIntervalName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PriceIntervalName)
            @Html.ValidationMessageFor(model => model.PriceIntervalName)
        </div>

        <div id="ext"></div>
        <p>
            <input type="submit" value="确定" />
        </p>
    </fieldset>
    
    <div>
    @Html.ActionLink("Back to List", "PriceIntervalManager")
</div>
}
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</div>
</section>