@model IEnumerable<Sunshine.Business.Core.User>

@{
    ViewBag.Title = "用户管理后台";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
.left{ float: left;}
.right{float: right;}
</style>
<ul>
<li><a href="#AccountsPanel">所有账号</a></li>
@foreach (var role in Roles.GetAllRoles())
{
<li>@Html.ActionLink(role, "UsersInRole", new { role = role })</li>
}
@*<li><a href="#RolePanel">角色</a></li>*@
</ul>

<div id="AccountsPanel">
<table id="tbl-all">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
           @* @Html.ActionLink("查看", "Display", new { id=item.UserId }) |
            @Html.ActionLink("禁用", "Delete", new { id=item.UserId })*@
        </td>
    </tr>
}

</table>
</div>
<div style="display:none">Loading</div>
@section Scripts {
@*@Scripts.Render("~/bundles/datatable");
   
        $(document).ready(
function () {
    $("#tbl-all").dataTable();
}
);*@
 <script type="text/javascript">
        function ConfirmAddToRole(userRole, holder) {
            $("#" + holder);
            
        }
    </script>
}