@model IEnumerable<Sunshine.Business.Core.User>

@{
    ViewBag.Title ="后台管理 - 管理员管理";
}
@Html.Partial("AdminNav")
<div id="@ViewContext.RouteData.Values["Action"].ToString()" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
<div class="panel73-left">
<table id="tbl-all" style="width:100%;"><thead>
    <tr>
<th>
    @Html.DisplayNameFor(model => model.UserName)
</th>
<th>
    @Html.DisplayNameFor(model => model.NickName)
</th>
<th>
    @Html.DisplayNameFor(model => model.Company)
</th>
<th></th>
    </tr></thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
<td>
    @Html.DisplayFor(modelItem => item.UserName)
</td>
<td>
    @Html.DisplayFor(modelItem => item.NickName)
</td>
       
<td>
    @Html.DisplayFor(modelItem => item.Company.CompanyName)
</td>
<td>
</td>
    </tr>
}
</tbody>
<tfoot> <tr>
<td>
    @Html.DisplayNameFor(model => model.UserName)
</td>
<td>
    @Html.DisplayNameFor(model => model.NickName)
</td>
<td>
    @Html.DisplayNameFor(model => model.Company)
</td>
<td></td>
    </tr></tfoot>
</table>
<div style="width:100%; text-align:right;">
@if (ViewBag.CurrentPageIndex > 1)
{
@Html.ActionLink("上一页", "Accounts", new { pageIndex = ViewBag.CurrentPageIndex - 1 })  
}
<b>@ViewBag.CurrentPageIndex</b>
@if (ViewBag.IsLastPage == false)
{
@Html.ActionLink("下一页", "Accounts", new { pageIndex = ViewBag.CurrentPageIndex + 1 })
} 
</div>
</div>
<div class="panel73-right">
<p><a href="">添加管理员</a></p>
<style>
#admin-new li input {float:left; clear: right; width:150px; padding:3px; margin: 2px} 
#admin-new li label {float:left;padding:3px; margin: 2px} 
</style>
<fieldset id="admin-new" style="display:none">
  <legend>Registration Form</legend>
  <ol>
      <li>
          <label for="UserName">用户名称</label>
          <input data-val="true" data-val-length="用户名称至少需要6字符长." data-val-length-max="100" data-val-length-min="6" data-val-regex="请输入字母、数字或者符号（@@和.）" data-val-regex-pattern="[a-z|A-Z][a-z|A-Z|0-9|.|@@|-|_]*" data-val-required="用户名称 字段是必需的。" id="UserName" name="UserName" type="text" value="">
      </li>
      <li>
          <label for="Password">用户密码</label>
          <input data-val="true" data-val-length="用户密码至少需要6字符长." data-val-length-max="100" data-val-length-min="6" data-val-required="用户密码 字段是必需的。" id="Password" name="Password" type="password">
      </li>
      <li>
          <label for="ConfirmPassword">确认密码</label>
          <input data-val="true" data-val-equalto="确认密码需要相同." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password">
      </li>
      <li>
      <label for="Permission">所属分组</label>
      
      </li>
  </ol>
  <div class="clr"></div>
  <input type="submit" value="添加" style="float:right">
    </fieldset>
</div>
<div class="clr"></div>
</div>
