@model Sunshine.Business.Core.User

@{
    ViewBag.Title = "EditAdmin";
    var currentRoles = Roles.GetRolesForUser(Model.UserName);
}
<div id="@ViewContext.RouteData.Values["Action"].ToString()" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
<p><h2>修改管理员权限</h2></p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        @Html.HiddenFor(model => model.UserId)
				@Html.HiddenFor(model => model.UserName)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.UserName)
        </div>
        <div class="editor-label">
          <label>权限</label>  
        </div>
        <div class="editor-field">
        <ul>
            @foreach (var i in Roles.GetAllRoles())
            {<li>
                @if (currentRoles.Contains(i))
                {
                    <input type="checkbox" checked="checked" name="roles" value="@i" id="@i"/><label class="checkbox" for="@i">@Sunshine.Utility.GetString(i)</label>
								}
								else
								{
                <input type="checkbox" name="roles" value="@i" id="@i"/><label class="checkbox" for="@i">@Sunshine.Utility.GetString(i)</label>
								}</li>
						}
            </ul>
        </div>
        <p>
            <input type="submit" value="保存" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Admins")
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
