@model IEnumerable<Sunshine.Models.UserModel>
@{
	ViewBag.Title = "角色管理-" + Request.Params["role"];
    ViewBag.RoleName = Request.Params["role"];
		ViewBag.SubModuleName = @Sunshine.Utility.GetString(ViewBag.RoleName);
		}
<h2>@ViewBag.SubModuleName</h2>
<div id="panel-@ViewBag.SubModuleName" class="left">
<table id="list-@ViewBag.RoleName" style="width:100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="id-@item.UserId">
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
           @*@Ajax.ActionLink("移除用户", "RemoveFromRole", new { userName = item.UserName, roleName = ViewBag.RoleName }, new AjaxOptions { OnSuccess = "ShowResult" }) |
*@					 @Html.ActionLink("编辑用户角色", "EditAdmin")
        </td>
    </tr>
}
</table>
</div>
<div>
<p>@Html.ActionLink("返回", "ListRoles")</p></div>
@*<div class="right">
<h2>添加用户</h2>
@using (Ajax.BeginForm("FindUser", new { ctrl = "list-"+@ViewBag.RoleName }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "id-" + ViewBag.RoleName }))
{
<input id="userName" name = "userName" />
<input type="hidden" name="roleName" value="@ViewBag.RoleName" />
<input type="submit" value="查找" />
}
<div id="id-@ViewBag.RoleName">
</div>
</div>*@
