<!DOCTYPE html>
<html lang="zh-hans">
<head><title>@ViewBag.Title</title>
<meta content="max-age=300" http-equiv="cache-control"/>
<meta content="text/html; charset=utf8" http-equiv="content-type"/>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
@Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div id="shortcut-2013">
<div class="w">
@*<ul class="fl lh">
  <li class="fore1 ld"><b></b><a href="javascript:addtofavorite()" rel="nofollow">收藏</a></li>
</ul>*@
<ul class="fr lh">
     @Html.Partial("_LoginPartial")
</ul>
<ul class="fr lh">
  <li class="fore1 ld"><b></b>@Html.ActionLink("后台管理", "index", "Security")</li>
  <li class="fore1 ld"><b></b>@Html.ActionLink("个人中心", "Manage", "Account")</li>
</ul>
<span class="clr"></span></div></div><!--shortcut end-->

<div id="body" class="w">
    <section id="tabset" class="content-wrapper clear-fix ui-tabs ui-widget ui-widget-content ui-corner-all">
    @Html.Partial("AdminNav")
    @RenderBody()
    </section>
</div>
<footer>

</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
     @RenderSection("scripts", required: false)
        
</body>
</html>
