@{
    Layout = "~/Views/Shared/_layout.cshtml";
 }
    @RenderSection("styles", required: false)
<div id="o-header-2013">
    <div id="header-2013" class="w">
        <div id="logo-2013" class="ld">
            <a hidefocus="true"
                href="#">
                <img alt="徽田" src="/images/logo2013.png"
                    width="260" height="60"></a>
        </div>
        <!--logo end-->
        <div id="search-2013">
            <div class="i-search ld">
                <ul id="shelper" class="hide"></ul>
                <div class="form">
                @using (Html.BeginForm("Search", "Product", FormMethod.Get, new { target = "_blank", id = "searchForm" }))
                {
                        <input accesskey="s" name="pattern" onkeydown="javascript:if(event.keycode==13) searchForm.submit();" id="key" class="text" type="text" autocomplete="off">
                        <input class="button" onclick="searchForm.submit(); return false;" value="搜索" type="button">
                } </div>
            </div>
            <div id="hotwords"></div>
        </div>
        <!--search end-->
        <div id="my360buy-2013">
            <dl></dl>
        </div>
        <!--settleup end-->
    </div>
    <!--header end-->
    <div class="w">
        <div id="nav-2013">
            @*<div id="treasure"></div>*@
            <ul id="navitems-2013">
                <li id="nav-home" class="fore1">@Html.ActionLink("首页", "index", "home")</li>
            </ul>
        </div>
    </div>
</div>
<!-- header end -->
     @RenderSection("featured", required: false)
<div class="w main">
@RenderBody()
</div>
<div class="w"> 
    <span class="clr"></span>
</div>
@RenderSection("scripts", required: false)
