<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html lang="zh-hans">
<head><title>电脑 - 徽田</title>
<meta content="max-age=300" http-equiv="cache-control"/>
<meta content="text/html; charset=utf8" http-equiv="content-type"/>
<meta content="" />
@Styles.Render("~/styles/css")
 @RenderSection("styles", required: false)
</head>
<body>
<div id="shortcut">
<div class="w">
<ul class="fl lh">
  <li class="fore1 ld">@*<b></b><a href="javascript:addtofavorite()" rel="nofollow">收藏</a>*@</li>
</ul>
<ul class="fr lh">
     @Html.Partial("_LoginPartial")
</ul><span class="clr"></span></div></div><!--shortcut end-->
<div id="header" class="w">
<div>
<div id="logo-2013" class="ld"></div><!--logo end-->
<div style="width:100%; text-align:center">
<h1><b><i>欢迎使用徽田</i></b></h1>
</div><!--search end-->
<div id="my360buy-2013">
<dl></dl></div><!--settleup end--></div><!--header end-->
<div class="w">
<div id="nav">
<div id="treasure"></div>
<ul id="navitems-2013">
  <li id="nav-home" class="fore1">@Html.ActionLink("首页", "index", "home")</li></ul></div></div></div>
<!-- header end -->
     @RenderSection("featured", required: false)
<div class="w main">
@RenderBody()
</div>
<div class="w"> 
</div>
<div id="collect_tip" class="tip360 w260"></div>
<div class="w">
<div id=""><span class="clr"></span></div></div><!-- service end -->
<div class="w">
<div id="">
<div class="links">
    <a href="/about" rel="nofollow" target="_blank">关于我们</a>|
    <a href="/" rel="nofollow" target="_blank">联系我们</a>|
    <a href="/joinin.aspx" rel="nofollow" target="_blank">商家入驻</a>|
    <a href="/links.aspx" target="_blank">友情链接</a>|
    <a href="#" target="_blank">销售联盟</a></div>
</div>
</div><!-- footer end -->
    @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body></html>
<script>
    document.all("productname").checked = true;
</script>
