<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html lang="zh-hans">
<head><title>电脑 - 徽田</title>
<meta content="max-age=300" http-equiv="cache-control"/>
<meta content="text/html; charset=utf8" http-equiv="content-type"/>
<meta content="" />
@Styles.Render("~/Styles/base")
@RenderSection("styles", required: false)
</head>
<body>
<div id="header">
<div class="w">
<div id="logo" class="ld"></div><!--logo end-->
<div id="login">
	<ul class="fr lh">
		@Html.Partial("_LoginBarPartial")
	</ul>
</div>
<div id="my-site"></div>
<span class="clr"></span>
</div>
<div class="w">
<div id="nav">
<ul id="navitems">
	<li id="nav-home" ><a href="/">首页</a></li>	<li>@Html.ActionLink("找产品", "Index", "Search")</li>    <li>@Html.ActionLink("找商家", "Merchant", "Search")</li>    <li>@Html.ActionLink("找业务员", "Salesman", "Search")</li></ul></div></div></div>
<!-- header end -->
<div class="main w">
@RenderBody()
</div>
<div class="w">
<div id="">
<div class="links">
	<a href="#">关于我们</a>|
	<a href="#">联系我们</a>|
	<a href="#">商家入驻</a>|
	<a href="#">友情链接</a>|
	<a href="#">销售联盟</a>
</div>
</div>
</div>
@RenderSection("scripts", required: false)
</body></html>