@model IEnumerable<Sunshine.ViewModels.UserRoleModel>
@{
    ViewBag.Title = "角色管理";
    ViewBag.SubModuleName = Request.Params["role"];
    Layout = "";
}

<div id="panel-@ViewBag.SubModuleName">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="id-@item.UserId">
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
           @Ajax.ActionLink("移除用户", "RemoveFromRole", new { userName = item.UserName, roleName = Request.Params["role"] }, new AjaxOptions { OnSuccess = "ShowResult" })
        </td>
    </tr>
}

</table>
<a href="javascript:">添加用户</a>
<div id="n-@Request.Params["role"]" style="display:none">
@using (Ajax.BeginForm("AddToRole", new {  roleName = Request.Params["role"] }, new AjaxOptions { OnSuccess=""}))
{
    <div class="editor-label" >
<label for="userName">用户名</label></div>
    <div  class="editor-field">
<input id="userName" name = "userName" /></div>
    <input type="hidden" name="roleName" value="@Request.Params["role"]" />
}
</div>
</div>
